<div class="card card-custom">
	<div class="card-header noprint">
		<div class="card-title">
			<h3>Invoice</h3>
		</div>
		<div class="card-toolbar">
			<button class="btn btn-primary" (click)="print()">Print</button>
		</div>
	</div>
	<div>
		<div class="card-body print">
			<div class="container p-2 pt-4 pb-4">
				<div class="row">
					<div class="col-2">
						<img src="logo.png" alt="" class="logo-pic" srcset="">
					</div>
					<div class="col-10">
						<div class="double-border p-1">
							<h4 class="fw-bold">CAPRI TRADER FAISALABAD</h4>
						</div>
					</div>
				</div>
				<div class="row adjust text-center mt-1 mb-1">
					<div class="col-4"></div>
					<div class="col-4">
						<p>Mehar Saddiq Market, Railway Road, Faisalabad.</p>
						<p>Ph: 041-2646796, 0300-9657163</p>
					</div>
					<div class="col-4">
						<div class="float-end">
							<p class="fw-bold">NTN:</p>
							<div class="sm-border">
								<p>2455700-5</p>
							</div>
						</div>
					</div>
					<!--  -->
				</div>
				<!-- line  -->
				<hr>
				<!--  -->
				<div class="row">
					<div class="col-4">
						<form class="mt-5" action="#">
							<label for="" class="fw-bold">Invoice No:</label>
							<input type="text" placeholder="000/000" class="input-1 ms-1">
						</form>
						<form class="mt-2" action="#">
							<label for="" class="fw-bold ">M/S:</label>
							<input type="text" placeholder="Friend Imran Riaz Lhr" class="input-2 ms-2">
						</form>
					</div>
					<div class="border-centr col-4">
						<h5>Bill/Sale Invoice</h5>
					</div>
					<div class="col-4 text-end">
						<form class="" action="#">
							<label for="" class="fw-bold">Dated:</label>
							<input type="text" placeholder="22/2" class="input-3 ms-1">
						</form>
						<form class="" action="#">
							<label for="" class="fw-bold">P.O.#:</label>
							<input type="text" placeholder="22/2" class="input-3 ms-1">
						</form>
						<form class="" action="#">
							<label for="" class="fw-bold">GRN:</label>
							<input type="text" placeholder="22/2" class="input-3 ms-1">
						</form>
					</div>
				</div>

				<!--  -->

				<div class="row mt-2">
					<div class="col">
						<div class="border-table">
							<table class="table">
								<tr class="fw-bold">
									<th class="text-center">SN</th>
									<th class="">Description</th>
									<th class="text-center">Unit</th>
									<th class="text-center">Quantity</th>
									<th class="text-center">Rate</th>
									<th class="text-end">Total</th>
								</tr>
								<tr>
									<td class="text-center">1</td>
									<td class="">solzarloom</td>
									<td class="text-center">pcs</td>
									<td class="text-center">39.0</td>
									<td class="text-center">100</td>
									<td class="text-end">900</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>body
		</div>
		<div class="card-footer">
			footer
		</div>
	</div>
</div>