<form (ngSubmit)="onSubmit()" #f="ngForm">
	<div class="card card-custom">
		<div class="card-header">
			<div class="card-title">{{ title }}</div>
		</div>
		<div class="card-body">
			<div class="form-group">
				<label>Quantity:</label>
				<input
					class="form-control"
					placeholder="Quantity"
					[(ngModel)]="item.quantity"
					name="quantity"
					required
				/>
			</div>

			<div class="form-group">
				<label>Rate:</label>
				<input
					class="form-control"
					placeholder="Rate"
					[(ngModel)]="item.rate"
					name="rate"
					required
				/>
			</div>
		</div>
		<div class="card-footer">
			<button type="button" mat-raised-button mat-dialog-close cdkFocusInitial>
				Cancel</button
			>&nbsp;
			<button
				type="submit"
				color="primary"
				mat-raised-button
				class="mr-2"
				[disabled]="f.invalid"
			>
				{{ mode }}
			</button>
		</div>
	</div>
</form>
