<div
	class="card card-custom"
	[ngClass]="{ 'card-body-progress card-body-progress-overlay': viewLoading }"
>
	<div class="card-header">
		<div class="card-title">
			<h3 class="card-label">{{ getTitle() }}</h3>
		</div>
	</div>
	<form class="form" (ngSubmit)="onSubmit()" #f="ngForm">
		<div class="card-body">
			<div class="card-body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>

			<div class="form-group row">
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select
							placeholder="Select Brand"
							name="brand"
							[(ngModel)]="product.brand_id"
							required
						>
							<mat-option *ngFor="let brand of brands" [value]="brand.id">
								{{ brand.name }}
							</mat-option>
						</mat-select>
						<mat-error
							>Brand is
							<strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>

				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input
							type="text"
							matInput
							placeholder="Name"
							name="name"
							[(ngModel)]="product.name"
							required
						/>
						<mat-error>
							Name is
							<strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>

				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<textarea
							matInput
							placeholder="Descrpition"
							rows="4"
							#description
							name="description"
							[(ngModel)]="product.description"
						></textarea>
						<mat-hint align="end">
							{{ description.value.length }} / 400
						</mat-hint>
						<mat-error>
							Description is
							<strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>

			<div class="separator separator-dashed my-6"></div>

			<div class="form-group row">
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<span matPrefix>Rs: &nbsp;</span>
						<input
							matInput
							type="number"
							placeholder="Purchase Price"
							name="purchase_price"
							[(ngModel)]="product.purchase_price"
						/>
					</mat-form-field>
				</div>

				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<span matPrefix>Rs: &nbsp;</span>
						<input
							matInput
							type="number"
							placeholder="Sale Price"
							name="sale_price"
							[(ngModel)]="product.sale_price"
						/>
					</mat-form-field>
				</div>

				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<span matPrefix>Rs: &nbsp;</span>
						<input
							matInput
							type="number"
							placeholder="Discount"
							name="discount"
							[(ngModel)]="product.discount"
						/>
					</mat-form-field>
				</div>
			</div>
			<div class="separator separator-dashed my-6"></div>
			<div class="form-group row">
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<mat-select
							placeholder="Select Unit"
							name="unit"
							[(ngModel)]="product.unit_id"
							required
						>
							<mat-option *ngFor="let unit of units" [value]="unit.id">
								{{ unit.name }}
							</mat-option>
						</mat-select>
						<mat-error>
							Unit is
							<strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<mat-form-field class="mat-form-field-fluid">
						<input
							matInput
							type="number"
							placeholder="Unit Quantity"
							name="unit_quantity"
							[(ngModel)]="product.unit_quantity"
							required
						/>
						<mat-error>
							Unit Quantity is
							<strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>

			<div class="separator separator-dashed my-6"></div>

			<div class="form-group row">
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<input type="file" (change)="fileChangeEvent($event)" name="image" />
				</div>
			</div>
			<div class="separator separator-dashed my-6"></div>

			<div
				class="row images"
				*ngIf="product.image || product.image_url || imageChangedEvent"
			>
				<div
					class="col-lg-6 kt-margin-bottom-20-mobile"
					*ngIf="imageChangedEvent"
				>
					<h3 *ngIf="imageChangedEvent">Selected Image:</h3>
					<image-cropper
						[imageChangedEvent]="imageChangedEvent"
						[maintainAspectRatio]="true"
						[aspectRatio]="4 / 2"
						[cropperMinWidth]="200"
						[imageQuality]="60"
						[resizeToWidth]="600"
						format="jpeg"
						(imageCropped)="imageCropped($event)"
					></image-cropper>
				</div>
				<div class="col-lg-6 kt-margin-bottom-20-mobile">
					<h3>{{ imageChangedEvent ? 'Cropped Image:' : 'Product' }}</h3>
					<div class="imagePreview" *ngIf="product.image">
						<img [src]="product.image" class="img-fluid" />
					</div>
					<div class="imagePreview" *ngIf="product.image_url && !product.image">
						<img [src]="product.image_url" class="img-fluid" />
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="d-flex justify-content-between">
				<div class="mr-2"></div>
				<div>
					<button
						type="button"
						mat-raised-button
						mat-dialog-close
						cdkFocusInitial
					>
						Cancel</button
					>&nbsp;
					<button
						type="button"
						mat-raised-button
						color="primary"
						(click)="onSubmit()"
						[disabled]="
							viewLoading ||
							f.invalid ||
							(f.pristine && !product.image) ||
							disabled
						"
					>
						Save
					</button>
				</div>
			</div>
		</div>
	</form>
</div>
