<div class="card card-custom">
	<div class="card-header">
		<div class="card-title">
			<h3>Sales</h3>
		</div>
		<div class="card-toolbar">
			<button class="btn btn-primary" (click)="addItem()">Add Item</button>
		</div>
	</div>
	<div>
		<form class="form" #saleForm="ngForm">
			<!-- Sales Form Start -->
			<div class="card-body">
				<div class="card-body-progress">
					<mat-spinner [diameter]="20"></mat-spinner>
				</div>

				<div class="form-group row">
					<div class="col-lg-4 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<mat-select
								placeholder="Company Head"
								name="company_head_id"
								[(ngModel)]="sale.company_head_id"
								required
							>
								<mat-option
									*ngFor="let company_head of company_heads"
									[value]="company_head.id"
								>
									{{ company_head.name }}
								</mat-option>
							</mat-select>
							<mat-error>
								Company Head is
								<strong>required</strong>
							</mat-error>
						</mat-form-field>
					</div>

					<div class="col-lg-2 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input
								type="date"
								matInput
								placeholder="Date"
								name="date"
								[(ngModel)]="sale.date"
								rewuired
							/>
							<mat-error>
								Date is
								<strong>required</strong>
							</mat-error>
						</mat-form-field>
					</div>

					<div class="col-lg-2 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input
								type="number"
								matInput
								placeholder="Bill/Ref#"
								name="bill_no"
								[(ngModel)]="sale.bill_no"
								required
							/>
							<mat-error>
								Bill no is
								<strong>required</strong>
							</mat-error>
						</mat-form-field>
					</div>

					<div class="col-lg-2 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input
								type="number"
								matInput
								placeholder="PO#"
								name="po_no"
								[(ngModel)]="sale.po_no"
								required
							/>
							<mat-error>
								PO# is
								<strong>required</strong>
							</mat-error>
						</mat-form-field>
					</div>

					<div class="col-lg-2 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input
								type="number"
								matInput
								placeholder="GRN"
								name="grn"
								[(ngModel)]="sale.grn"
								required
							/>
							<mat-error>
								GRN is
								<strong>required</strong>
							</mat-error>
						</mat-form-field>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-lg-4 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<mat-select
								placeholder="Party"
								name="party_id"
								[(ngModel)]="sale.party_id"
								required
							>
								<mat-option *ngFor="let party of parties" [value]="party.id">
									{{ party.name }}
								</mat-option>
							</mat-select>
							<mat-error>
								Company Head is
								<strong>required</strong>
							</mat-error>
						</mat-form-field>
					</div>

					<div class="col-lg-2 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<mat-select
								placeholder="Pay Mode"
								name="pay_mode"
								[(ngModel)]="sale.pay_mode"
								required
							>
								<mat-option
									*ngFor="let pay_mode of pay_modes"
									[value]="pay_mode.name"
								>
									{{ pay_mode.name }}
								</mat-option>
							</mat-select>
							<mat-error>
								<strong>required</strong>
							</mat-error>
						</mat-form-field>
					</div>

					<div class="col-lg-2 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<mat-select
								placeholder="Pay Status"
								name="pay_status"
								[(ngModel)]="sale.pay_status"
								required
							>
								<mat-option
									*ngFor="let pay_status of pay_statuses"
									[value]="pay_status.name"
								>
									{{ pay_status.name }}
								</mat-option>
							</mat-select>
							<mat-error>
								<strong>required</strong>
							</mat-error>
						</mat-form-field>
					</div>

					<div class="col-lg-4 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input
								matInput
								type="text"
								placeholder="Remarks"
								name="remarks"
								[(ngModel)]="sale.remarks"
							/>
						</mat-form-field>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-lg-3 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<mat-select
								[(ngModel)]="selectedItem.id"
								placeholder="Enter Item"
								name="item"
								required
							>
								<mat-option *ngFor="let item of items" [value]="item.id">
									{{ item.name }}
								</mat-option>
							</mat-select>
							<mat-error>
								Item is
								<strong>required</strong>
							</mat-error>
						</mat-form-field>
					</div>

					<div class="col-lg-2 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input
								matInput
								type="number"
								placeholder="Quantity"
								name="quantity"
								required
								[(ngModel)]="selectedItem.unit_quantity"
							/>
							<mat-error>
								Quantity is
								<strong>required</strong>
							</mat-error>
						</mat-form-field>
					</div>

					<div class="col-lg-2 kt-margin-bottom-20-mobile">
						<mat-form-field class="mat-form-field-fluid">
							<input
								matInput
								type="number"
								placeholder="Rate"
								name="rate"
								required
								[(ngModel)]="selectedItem.rate"
							/>
							<mat-error>
								Rate is
								<strong>required</strong>
							</mat-error>
						</mat-form-field>
					</div>
					<div class="col-lg-2 kt-margin-bottom-20-mobile">
						<a (click)="AddItemToSaleItems()" class="btn btn-primary"> Add </a>
					</div>
				</div>

				<div class="separator separator-dashed my-6"></div>
			</div>
			<!-- Sales Form End -->
		</form>
		<!-- Item Details Table Start -->
		<div class="card-body">
			<div class="mat-table-wrapper">
				<mat-table
					#table
					[dataSource]="dataSource"
					matSort
					#sort1="matSort"
					matSortActive="date_str"
					matSortDirection="desc"
					matSortDisableClear
				>
					<!--- Note that these columns can be defined in any order.
			The actual rendered columns are set as a property on the row definition" -->
					<!-- Name Column -->
					<ng-container matColumnDef="name">
						<mat-header-cell *matHeaderCellDef mat-sort-header>
							Name
						</mat-header-cell>
						<mat-cell *matCellDef="let sale_item">
							{{ sale_item.item.name }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="brand">
						<mat-header-cell *matHeaderCellDef mat-sort-header>
							Brand
						</mat-header-cell>
						<mat-cell *matCellDef="let sale_item">
							{{ sale_item.item.brand ? sale_item.item.brand.name : '' }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="quantity">
						<mat-header-cell *matHeaderCellDef mat-sort-header>
							Quantity
						</mat-header-cell>
						<mat-cell *matCellDef="let sale_item">
							{{ sale_item.unit_quantity }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="rate">
						<mat-header-cell *matHeaderCellDef mat-sort-header>
							Rate
						</mat-header-cell>
						<mat-cell *matCellDef="let sale_item">
							{{ sale_item.rate }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="discount">
						<mat-header-cell *matHeaderCellDef mat-sort-header>
							Discount
						</mat-header-cell>
						<mat-cell *matCellDef="let sale_item">
							{{ sale_item.item.discount }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="description">
						<mat-header-cell *matHeaderCellDef mat-sort-header>
							Description
						</mat-header-cell>
						<mat-cell *matCellDef="let sale_item">
							{{ sale_item.item.description }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="image">
						<mat-header-cell *matHeaderCellDef mat-sort-header>
							Image
						</mat-header-cell>
						<mat-cell *matCellDef="let sale_item">
							<img [src]="sale_item.item.image_url" class="img-fluid w-75" />
						</mat-cell>
					</ng-container>
					<!-- Actions Column -->
					<ng-container matColumnDef="actions">
						<mat-header-cell *matHeaderCellDef mat-sort-header>
							Actions
						</mat-header-cell>
						<mat-cell *matCellDef="let item; let index = index">
							<a
								mat-icon-button
								color="primary"
								(click)="editSaleItemsItem(item, index)"
							>
								<mat-icon>create</mat-icon></a
							>&nbsp;
							<a
								mat-icon-button
								color="warn"
								(click)="removeFromSaleItems(index)"
								type="button"
							>
								<mat-icon>delete</mat-icon>
							</a>
						</mat-cell>
					</ng-container>
					<!-- Symbol Column -->
					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
				</mat-table>

				<!-- Message for empty data  -->
				<div
					class="mat-table-message"
					*ngIf="loaded && dataSource.data.length == 0"
				>
					No records found
				</div>
				<div
					class="mat-table-message"
					*ngIf="!loaded && !dataSource.data.length"
				>
					Please wait....
				</div>
			</div>

			<!-- start: BOTTOM -->
			<div class="mat-table-bottom">
				<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
				<mat-spinner [diameter]="20" *ngIf="!loaded"></mat-spinner>
				<!-- MATERIAL PAGINATOR | Binded to dasources -->
				<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
				<mat-paginator
					[pageSize]="pageSize"
					[showFirstLastButtons]="true"
					[length]="totalItems"
				></mat-paginator>
			</div>
		</div>
		<!-- Item Details Table End -->
		<div class="card-footer">
			<div class="d-flex justify-content-between">
				<div class="mr-2"></div>
				<div>
					&nbsp;
					<button
						type="submit"
						mat-raised-button
						color="primary"
						class="mr-3"
						[disabled]="saleForm.invalid || saleForm.pristine"
						(click)="onSubmit(saleForm, true)"
					>
						Save as Reutrn
					</button>
					<button
						type="submit"
						mat-raised-button
						color="primary"
						[disabled]="saleForm.invalid || saleForm.pristine"
						(click)="onSubmit(saleForm, false)"
					>
						Save
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
