<div class="card card-custom">
	<mat-spinner
		class="spinner-center"
		[diameter]="50"
		*ngIf="!loaded"
	></mat-spinner>
	<div class="card-body" *ngIf="loaded">
		<h5 class="card-title">Order # {{ order.hash }}</h5>
		<h6 class="card-subtitle">{{ order.customer.name }}</h6>

		<p>{{ order.customer.phone }}</p>
		<h6 class="card-subtitle">Address</h6>
		<p>{{ order.address.address }}<br />{{ order.address.rider_notes }}</p>
		<div class="example-preview">
			<form class="example-container" (ngSubmit)="onSubmit()">
				<h4>Billing Information</h4>
				<h6>Items List</h6>
				<div class="billing-information">
					<div *ngFor="let item of order.items">
						<div class="row">
							<div class="col-3">
								<div>
									<h6>{{ item.product.name }}</h6>
									<p>
										{{ item.quantity }} x Rs:
										{{ item.total_price / item.quantity }}
									</p>
								</div>
							</div>

							<div class="col-3 d-flex align-items-center">
								<p slot="end">Rs: {{ item.total_price }}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-3">Subtotal</div>
						<div class="col-3">Rs: {{ order.subtotal }}</div>
					</div>

					<div class="row">
						<div class="col-3">Discount</div>
						<div class="col-3">Rs: {{ order.discount }}</div>
					</div>

					<div class="row">
						<div class="col-3">Delivery Fee</div>
						<div class="col-3">Rs: {{ order.delivery_charges }}</div>
					</div>

					<div class="row">
						<div class="col-3">
							<strong>Total</strong>
						</div>
						<div class="col-3">
							<strong>Rs: {{ order.total }}</strong>
						</div>
					</div>
				</div>
				<div
					class="my-3"
					*ngIf="
						order.status.key !== 'cancelled' && order.status.key !== 'delivered'
					"
				>
					<button type="submit" color="primary" mat-raised-button>
						{{ nextStatus | slice: 0:-2 | titlecase }} Order
					</button>
					<button
						type="button"
						color="warn"
						class="ml-2"
						(click)="cancelOrder()"
						mat-raised-button
					>
						Cancel Order
					</button>
				</div>
			</form>
		</div>
		<div *ngIf="order.cancel_reason" class="mt-5">
			<h5>
				Reason:
				<strong class="text-danger mt-5">{{ order.cancel_reason }}</strong>
			</h5>
		</div>
	</div>
</div>
